//font Color
$fontColor-primary: black;

//font family
$fontFamily-primary: "caseStudyFontFamily";

//font size
$fontSize-primary: 14px;

//colors
$backgroundPrimaryDark: #2b3743;
$backgroundSecondaryDark: #202d36;

$backgroundPrimaryLight: #fafafa;
$backgroundSecondaryLight: #fbfbfb;
